{% extends "index.html" %}

{% block innerPgae %}

<div class="main-panel">
  <div class="content">
      <div class="page-inner">

          <!-- --------------------------------------------breadcrump -->
          <div class="page-header">
              <h4 class="page-title">Inner Page Template</h4>

              <ul class="breadcrumbs">
                <li class="nav-home">
                  <a href="#">
                    <i class="flaticon-home"></i>
                  </a>
                </li>
                <li class="separator">
                  <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                  <a href="#">Communication & Status</a>
                </li>
                <li class="separator">
                  <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                  <a href="#">Inner page</a>
                </li>
              </ul>

          </div>
          <!-- --------------------------------------------breadcrump -->


          <!-- -----------------------------------------------------content area -->
          <div class="row">
              <div class="col-md-12 ml-auto mr-auto">
                  <div class="card">
                    <div class="card-header">
                      <div class="card-title">Test Header</div>
                    </div>

                    <div class="card-body">
                      Test body
                      
                    </div>
                    
                  </div>

                   
              </div>
          </div>
          <!-- -----------------------------------------------------content area -->




      </div>
  </div>
</div>


{% endblock %}